:root {
   --nd-light-grey: #f0f0f0;
   --nd-blue: #0C2340;
   --nd-gold: #AE9142;
   --bright-blue: #007bff;
   --light-grey: #f9f9f9;
   --medium-grey: #666666;
   --darker-grey: #565656;
   --white: #FFFFFF;
   --silver: silver;
   --default-font: 1.2rem;
   --keycap-height: 2rem;
   --keycap-font-size: .75rem;
   --keycap-shift-font-size: .25rem;
   --keycap-small-font-size: .25rem;
   --keycap-extra-small-font-size: .25rem;
   --keyboard-toolbar-font-size: 1rem;
   --variant-keycap-font-size: .25rem;
   --keycap-gap: 4px;
}

html {
   font-size: 1.4rem;
}

* {
   font-family: "Instrument Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: var(--default-font);
   font-variation-settings:"wdth" 100;
   text-align: center;
   color:var(--nd-blue);
   --keycap-background:var(--light-grey);
   --keycap-text:var(--nd-blue);
}

.mobile-site-title {
   font-size: 1.5rem;
}
.mobile-title, .mobile-subtitle {
   font-size: 1.05rem;
}
.mobile-body {
   font-size: 0.85rem;
}

.semibold, .subtitle, .mobile-subtitle {
   font-weight: 650;
}

.bold, .title, .mobile-title, .mobile-site-title, .site-title, .btntxt {
   font-weight: 900;
}

.title, .mobile-title, .italic, .btntxt {
   font-style: italic;
}

.title {
   font-size: 125%;
}

.site-title {
   font-size: 225%;
}

.subtitle {
   font-size: 107%;
}

.text-larger {
   font-size: 110%;
}

.letter-spacing {
   letter-spacing: 1px;
}

.display-5 {
   font-size: 2.5rem;
   font-weight: 300;
}

.display-6 {
   font-size: 1.5rem;
   font-weight: 300;
}

.nav-link.active {
   background: var(--light-grey) !important;
   opacity: .85;
}

#implicit-equation-field {
   font-size: 1.5rem;
}

.pointer {
   cursor: pointer;
}

.tablikes {
   color: var(--nd-gold);
   text-transform: all-caps;
}

math-field::part(container) {
  flex-flow: row-reverse;
}

/* Tooltips ------------------------------------------ */
/* Style the tooltip */
.custom-tooltip {
   font-size: .85rem !important;
   border-radius: 3px !important;
   --bs-tooltip-bg: var(--darker-grey);
   --bs-tooltip-color: var(--white);
}

/* hide the tooltip arrow */
.tooltip .tooltip-arrow {
   display: none;
}

/* color --------------------------------------------- */
.nd-gold, .title,  .mobile-title, .subtitle {
   color: var(--nd-gold);
}

.nd-blue {
   color: var(--nd-blue);
}

.darker-grey {
   color: var(--darker-grey);
}

.white {
   color: var(--white);
}

.bright-blue {
   color: var(--bright-blue);
}

.light-grey, .btntxt {
   color: var(--light-grey);
}

.bg-light-grey {
   background: var(--light-grey);
}

.text-silver {
   color: var(--silver);
}

.bg-nd-blue {
   background: var(--nd-blue);
}

/* Reset modal dialog box ---------------------------- */
#dialog-confirm {
   font-size: 1rem;
}

.ui-widget {
   font-family: 'Figtree', Arial, sans-serif;
}

.ui-widget-content {
   background: var(--white);
   border: none;
   padding: 1rem;
   border-radius: 8px;
}

.ui-widget-header {
   /* background: rgba(0, 0, 0, .08); */
   margin-bottom: 1rem;
   font-weight: bold;
}

.ui-dialog .ui-dialog-buttonpane {
   font-size: 1rem !important;
   margin-top: 0;
   /* padding: .3em 1em .5em .4em; */
}

.ui-dialog-buttonset .btn-default {
   color: var(--bright-blue);
   /* background: rgba(0, 0, 0, .05); */
}

/* Style the reset modal ---------------  */
.ui-widget-header {
   background: none;
   border: none;
}

.ui-widget-overlay {
   background: black;
   opacity: .7;
}

.ui-sortable-helper {
   margin-left: 3rem;
}

.ui-state-highlight {
   background: var(--alice-blue) !important;
}